body {
  margin: 0;
  height: 100%;
  display: flex;
  width: 100%;
  background-image: url(img/fondo.png);
  background-size: 1300px;
}

.contenedor {
  display: flex;
  width: 100%;
  max-width: 600px;
  flex-wrap: wrap;
  margin: auto;
}

.imagen_portada {
  border-radius: 50%;
  background-image: url(img/inicio1.png);
  background-size: cover;
  background-position: center;
  margin: 30px auto;
  width: 80%;
  max-width: 500px;
  overflow: hidden;
}
.imagen_portada img {
  width: 100%;
  border-radius: 50%;
  -webkit-animation: rotate 15s infinite linear;
          animation: rotate 15s infinite linear;
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.boton {
  display: flex;
  margin: auto;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  width: auto;
  padding: 0px 30px;
  height: 30px;
  font-size: 20px;
  cursor: pointer;
  background-color: black;
  color: rgb(255, 255, 255);
  border: none;
}

.boton:hover {
  background-color: rgba(219, 174, 76, 0.8);
  color: black;
}

h1 {
  color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  margin: auto;
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 20px;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: rgb(219, 174, 76);
}

.inicio {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  margin-top: 30px;
}
.inicio h1 {
  text-align: center;
  max-width: 400px;
  background-color: black;
}
.inicio .bienvenida {
  width: 100%;
  height: 100%;
  align-items: center;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.inicio .bienvenida .imagen_portada {
  background-image: url(img/inicio1.png);
}
.inicio .bienvenida .botones {
  width: 60%;
  display: flex;
  margin: auto;
  max-width: 600px;
  flex-wrap: wrap;
  height: 30px;
}
.inicio .bienvenida .formulario {
  display: flex;
  width: 90%;
  height: 100%;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 400px;
  flex-wrap: wrap;
}
.inicio .bienvenida .formulario .datos {
  width: 100%;
  padding: 30px;
  display: flex;
  margin: auto;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: black;
  max-width: 600px;
  background-color: rgb(255, 255, 255);
}
.inicio .bienvenida .formulario .datos .inputs {
  width: 100%;
  margin: auto;
}
.inicio .bienvenida .formulario .datos .inputs input {
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  background-color: transparent;
  border-bottom: 1px solid black;
  margin: 10px;
}
.inicio .bienvenida .formulario .datos .inputs input:focus {
  background: none;
  outline: none;
}
.inicio .bienvenida .formulario .datos .inputs #enviar {
  display: flex;
  margin: auto;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  padding: 10px;
  border: none;
  margin-top: 15px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
}
.inicio .bienvenida .formulario .datos .inputs #enviar:hover {
  background-color: rgb(219, 174, 76);
}
.inicio .bienvenida .formulario .datos .inputs .errorMensaje {
  color: red;
  font-size: 12px;
}
.inicio .bienvenida .formulario .datos .cerrar {
  cursor: pointer;
  font-size: 20px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  position: relative;
  display: flex;
}
.inicio .bienvenida .formulario .datos .cerrar:hover {
  color: red;
}

.usuarioHoroscopo {
  position: absolute;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-image: url(img/fondo.png);
}

.usuario {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  align-items: center;
  flex-direction: row;
  height: 100%;
  min-height: 710px;
}
.usuario .imagen {
  width: 100%;
  margin: 30px auto;
  display: flex;
}
.usuario .imagen img {
  width: 80%;
  max-width: 400px;
  margin: auto;
}
.usuario .saludo {
  width: 80%;
  margin: auto;
  align-items: center;
}
.usuario .saludo h1 {
  font-family: "Poppins", sans-serif;
  width: 100%;
  font-size: 40px;
  margin: 30px auto;
}
.usuario .menu {
  width: 100%;
  display: flex;
  margin: auto;
  align-content: space-between;
  margin-bottom: 30px;
}
@media all and (min-width: 800px) {
  .usuario .saludo {
    width: 30%;
    padding: 5%;
  }
  .usuario .imagen {
    max-width: 500px;
  }
}

.usuarioTarot {
  position: absolute;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-image: url(img/fondo.png);
}
.usuarioTarot .usuario {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  align-items: center;
  flex-direction: row;
  min-height: 710px;
}
.usuarioTarot .usuario h1 {
  font-family: "Poppins", sans-serif;
  width: 100%;
  font-size: 30px;
  margin: auto;
}
.usuarioTarot .usuario .imagen_portada {
  background-image: url(img/tarot.jpg);
}
.usuarioTarot .usuario .contenedor {
  background-image: url(img/fondo.png);
  background-size: 1000px;
  background-position: center;
}
.usuarioTarot .usuario .boton {
  margin-bottom: 30px;
}
.usuarioTarot .usuario .cartas {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  height: 300px;
  margin-bottom: 30px;
}
.usuarioTarot .usuario .cartas .carta {
  width: 25%;
  margin: auto;
  cursor: pointer;
  background-color: black;
}
.usuarioTarot .usuario .cartas .carta img {
  width: 100%;
  border: 1px solid rgb(255, 255, 255);
}
.usuarioTarot .usuario .cartas .carta:hover {
  width: 30%;
}
.usuarioTarot .usuario .contenedor_texto {
  width: 80%;
  margin: 20px auto;
  align-items: center;
  max-width: 500px;
}
.usuarioTarot .usuario .contenedor_texto h1 {
  font-family: "Poppins", sans-serif;
  width: 100%;
  font-size: 30px;
}
.usuarioTarot .usuario .contenedor_texto p {
  text-align: left;
  font-size: 20px;
}
.usuarioTarot .usuario .imagenTarot {
  width: 100%;
  max-width: 400px;
  margin: 10px auto;
  display: flex;
}
.usuarioTarot .usuario .imagenTarot img {
  width: 80%;
  border: solid rgb(255, 255, 255) 1px;
  margin: auto;
}
@media all and (min-width: 800px) {
  .usuarioTarot .usuario .contenedor_texto {
    width: 30%;
    padding: 5%;
  }
  .usuarioTarot .usuario .imagen {
    max-width: 500px;
  }
}/*# sourceMappingURL=estilos.css.map */